*.o
*.elf
*.bin
*.ko
*.cmd
*.unsigned
*.mod.c
Module.symvers
*.order
.tmp_versions

*.swp
cscope.out
Session.vim

elfboot/elfboot
elfboot/elfboot_test
linux/executer/mcexec
linux/mod_test*
linux/target
