[access]
	inheritFrom = All-Projects
[project]
	description = McKernel
[submit]
	mergeContent = true
	action = rebase if necessary
[access "refs/*"]
	owner = group riken
[access "refs/for/refs/*"]
	read = group riken
	push = group riken
	pushMerge = group riken
[access "refs/heads/*"]
	read = group Anonymous Users
	create = group riken
	push = +force group riken
	pushMerge = group riken
	label-Code-Review = -2..+2 group riken
	label-Verified = -1..+1 group riken
	label-Verified = -1..+1 group mckernel-bots
	rebase = group riken
	submit = group riken
[access "refs/tags/*"]
	push = group riken
	push = +force group riken
	read = group Anonymous Users
	delete = group riken
[commentlink "redmine"]
	match = "#(\\d+)"
	link = https://postpeta.pccluster.org/redmine/issues/$1
[receive]
	requireChangeId = true
[label "Code-Review"]
	function = MaxWithBlock
	copyMinScore = true
	value = -2 Do not submit
	value = -1 I would prefer that you didn't submit this
	value =  0 No score
	value = +1 Looks good to me, but someone else must approve
	value = +2 Looks good to me, approved
	defaultValue = 0
	copyAllScoresOnTrivialRebase = true
[label "Verified"]
	function = MaxWithBlock
	value = -1 Fails
	value =  0 No score
	value = +1 Verified
	defaultValue = 0
	copyAllScoresIfNoCodeChange = true
