[access]
	inheritFrom = All-Projects
[project]
	description = McKernel
[access "refs/*"]
	owner = group user/masamichitakagi
[access "refs/for/refs/*"]
	read = group user/masamichitakagi
	push = group user/masamichitakagi
	label-Code-Review = -2..+2 group user/masamichitakagi
	label-Verified = -1..+1 group user/masamichitakagi
	rebase = group user/masamichitakagi
	removeReviewer = group user/masamichitakagi
	submit = group user/masamichitakagi
[access "refs/heads/*"]
	read = group user/masamichitakagi
	create = group user/masamichitakagi
	push = +force group user/masamichitakagi
	pushMerge = group user/masamichitakagi
[access "refs/tags/*"]
	push = group user/masamichitakagi
	push = +force group user/masamichitakagi
